/* STYLESHEET */
/* style.css */ 

.navbar-heading {
    white-space: nowrap;
    margin-left: 3%;
}

ul {
    list-style: none;
}

h4 {
    font-size: 2rem;
    margin-bottom:20px; 
    margin-left: 5%; 
    margin-right: 5%;
}

#recipeQuicklinks {
    border: 1px solid rgb(224, 224, 224);
    margin-right: 25%;
}

#searchBtnDiv {
    padding: 0;
}

.v-pad-more {
    padding-top: 18px;
    padding-bottom: 18px;
}

.keywords-list-item {
    min-height: 35px;
    border: 1px solid rgb(224, 224, 224);
    vertical-align: middle;
}
li:first-of-type {
    border-top: 1px solid rgb(224, 224, 224);
}
li:last-of-type {
    border-bottom: 1px solid rgb(224, 224, 224);
}
.iconAnchor {
    float:right;
    margin-right: 10%;
    top:0.4rem;
    vertical-align: middle;
}
#removeBtn {
    vertical-align: middle;
}

.remove-btn-div {
    vertical-align: middle;
}
.clearfix {
     overflow: auto;
}
.saved-keywords {
    margin: 0;
    line-height: 3rem;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10%;
}



/* new class added to make the cards all the same height  --------------start-----------------------*/
.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}

.col-cards {
    display: table-cell; /* Make elements inside the container behave like table cells */
    height: 100%;
} 
/* new class added to make the cards all the same height  --------------end-----------------------*/
/* this is to blur image edges */

footer {
    text-align: center;
    border-width: 30px;
}


.recipe-card {
    max-width: 250px;
    min-height: 500px;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
}
.card-title {
    margin-left: 5%; 
    margin-right: 5%;    
}

.tag-line {
    border: 1px solid rgb(37, 36, 36);
}

.collage-image {
    object-fit: cover;
    width: 100%;
    height: 350px;
    padding: 0;
    margin: 0;
}

.display-image {
    object-fit: cover;
    width: 100%;
    height: 500px;
}

/* Media Queries */

@media screen and (min-width: 860px){
    .recipe-card{
        max-width: 300px;
    }
}
@media screen and (max-width: 600px){
    .recipe-card {
        max-width: 300px;
    }
    #search-and-results {
        max-width: 300px;
    }
    h4 {
        font-size: 1.8rem;
    }
}


/* Helper classes */
.d-flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}